<mat-accordion class="m-2 mat-elevation-z4">
    <mat-expansion-panel [expanded]="true" (opened)="panelOpenState = false" (closed)="panelOpenState = true">

        <mat-expansion-panel-header>
            <mat-panel-title>
                <h3>Datos Personales</h3>

            </mat-panel-title>

        </mat-expansion-panel-header>
        <form #formulario="ngForm" (ngSubmit)="onSubmit()">
            <table style="width:100%">
                <tr>
                    <td>
                        <span>Rut:</span>
                    </td>
                    <td>
                        <mat-form-field>
                            <input matInput name="rut" placeholder="Ingrese rut paciente" [(ngModel)]="objeto.rut"
                                disabled>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Nombre:</span>
                    </td>
                    <td>
                        <mat-form-field>
                            <input matInput name="nombre" placeholder="Ingrese nombre" [(ngModel)]="objeto.nombre"
                                required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Apellido:</span>
                    </td>
                    <td>
                        <mat-form-field>
                            <input matInput name="apellido" placeholder="Ingrese apellido" [(ngModel)]="objeto.apellido"
                                required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Correo:</span>
                    </td>
                    <td>
                        <mat-form-field>
                            <input matInput type="email" name="correo" placeholder="Ingrese correo"
                                [(ngModel)]="objeto.correo" [formControl]="emailFormControl" required>
                            <mat-error
                                *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                Porfavor ingresar correo valido
                            </mat-error>
                            <mat-error *ngIf="emailFormControl.hasError('required')">
                                Correo es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Telefono:</span>
                    </td>
                    <td>
                        <mat-form-field>
                            <span matPrefix>+56 &nbsp;</span>
                            <input matInput name="telefono" type="tel" placeholder="Ingrese telefono"
                                [(ngModel)]="objeto.telefono" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr *ngIf="userLog.rol == 2">
                    <td>
                        <span>Fecha Nacimiento:</span>
                    </td>
                    <td>
                        <mat-form-field>
                            <input name="fechaNacimiento" [(ngModel)]="objeto.fechaNacimiento" matInput
                                [matDatepicker]="picker" placeholder="Seleccionar fecha nacimiento" required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker disabled=false></mat-datepicker>
                        </mat-form-field>
                    </td>
                </tr>
                <tr *ngIf="userLog.rol == 2">
                    <td>
                        <span>Dirección:</span>
                    </td>
                    <td>
                        <mat-form-field>
                            <input matInput name="direccion" placeholder="Ingrese direccion"
                                [(ngModel)]="objeto.direccion" required>
                        </mat-form-field>
                    </td>
                </tr>
            </table>

            <mat-action-row>
                <div *ngIf="!ingresando">
                    <!-- <button mat-raised-button>
                        <mat-icon>cancel</mat-icon>
                        <span style="margin-left: 8px;">Cancelar</span>
                    </button> -->
                    <button type="submit" style="margin-left: 10px;" mat-raised-button color="primary">
                        <mat-icon>edit</mat-icon>
                        <span style="margin-left: 8px;">Editar Perfil</span>
                    </button>
                </div>
                <div *ngIf="ingresando" class="justify-content-center d-flex">
                    <mat-spinner></mat-spinner>
                </div>
            </mat-action-row>
        </form>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h3>Cambiar Contraseña</h3>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <form #formularioPass="ngForm" (ngSubmit)="cambiarPass()">
            <table style="width:100%">
                <tr>
                    <td>
                        <span>Contraseña Antigua:</span>
                    </td>
                    <td>
                        <mat-form-field>
                            <input matInput name="antigua" placeholder="Ingrese Contraseña Antigua"
                                [(ngModel)]="password.antigua" type="password" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Contraseña Nueva:</span>
                    </td>
                    <td>
                        <mat-form-field>
                            <input matInput name="nueva" placeholder="Ingrese Contraseña Nueva"
                                [(ngModel)]="password.nueva" type="password" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Confirmar Contraseña:</span>
                    </td>
                    <td>
                        <mat-form-field>
                            <input matInput name="confirmacion" placeholder="Ingrese Contraseña Nueva"
                                [(ngModel)]="password.confirmacion" type="password" required>
                        </mat-form-field>
                    </td>
                </tr>
            </table>

            <mat-action-row>
                <div *ngIf="!ingresando">
                    <!-- <button mat-raised-button>
                        <mat-icon>cancel</mat-icon>
                        <span style="margin-left: 8px;">Cancelar</span>
                    </button> -->
                    <button type="submit" style="margin-left: 10px;" mat-raised-button color="primary">
                        <mat-icon>edit</mat-icon>
                        <span style="margin-left: 8px;">Editar Constraseña</span>
                    </button>
                </div>
                <div *ngIf="ingresando" class="justify-content-center d-flex">
                    <mat-spinner></mat-spinner>
                </div>
            </mat-action-row>
        </form>


    </mat-expansion-panel>
</mat-accordion>