@media(max-width: 600px) {
    .mobile-label {
      display: none;
    }

    .mat-form-field {
        margin: 0 auto;
    }

    .mat-action-row {
        justify-content: center;
    }

    .mobile-display {
        display: block;
    } 

    .web-display {
        display: none;
    }
}

.label {
    align-self: center;
    margin-left: 20px;
}

.mobile-display {
    display: none;
}

