<div *ngIf="buscando" class="spinner">
    <mat-spinner></mat-spinner>
</div>

<mat-table [dataSource]="dataSourceHist" matSort>

    <ng-container matColumnDef="fecha">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Hora</mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="fecha">
            <span class="mobile-label">Fecha:</span>
            {{row.fecha}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="hora">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Hora</mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="hora">
            <span class="mobile-label">Hora:</span>
            {{row.hora}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="rut">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Rut</mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="rut">
            <span class="mobile-label">Rut:</span>
            {{row.paciente.rut}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="paciente">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Paciente</mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="paciente">
            <span class="mobile-label">Nombre:</span>
            {{row.paciente.nombre}} {{row.paciente.apellido}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="estado">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row" data-label="estado">
            <span class="mobile-label">Estado:</span>
            <span *ngIf="row.estado==0" style="color: #0fb200;">Agendada</span>
            <span *ngIf="row.estado==1" style="color: #2d04c5;">En Transcurso</span>
            <span *ngIf="row.estado==2" style="color: #6b6d74;">Finalizada</span>
            <span *ngIf="row.estado==3" style="color: #f83232;">Cancelada</span>
            <span *ngIf="row.estado==4" style="color: #ebde29;">Reagendada</span>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumnsHist"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumnsHist;" routerLink="/dashboard/atencion/{{row._id}}">
    </mat-row>
</mat-table>

<mat-paginator [length]="dataSourceHist?.data.length" [pageIndex]="0" [pageSize]="10"
    [pageSizeOptions]="[10, 50, 100, 250]">
</mat-paginator>

<!-- <table mat-table [dataSource]="dataSourceHist" class="full-width-table" matSort aria-label="Elements">
    
    <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
        <td mat-cell *matCellDef="let row"><strong>{{row.fecha}}</strong></td>
    </ng-container>

    
    <ng-container matColumnDef="hora">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Hora</th>
        <td mat-cell *matCellDef="let row">{{row.hora}}</td>
    </ng-container>

    
    <ng-container matColumnDef="rut">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Rut</th>
        <td mat-cell *matCellDef="let row">{{row.paciente.rut}}</td>
    </ng-container>

    <ng-container matColumnDef="paciente">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Paciente</th>
        <td mat-cell *matCellDef="let row">{{row.paciente.nombre}} {{row.paciente.apellido}}</td>
    </ng-container>

    <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
        <td mat-cell *matCellDef="let row">
            <span *ngIf="row.estado==0" style="color: #0fb200;">Agendada</span>
            <span *ngIf="row.estado==1" style="color: #2d04c5;">En Transcurso</span>
            <span *ngIf="row.estado==2" style="color: #6b6d74;">Finalizada</span>
            <span *ngIf="row.estado==3" style="color: #f83232;">Cancelada</span>
            <span *ngIf="row.estado==4" style="color: #ebde29;">Reagendada</span>
        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumnsHist"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsHist;" routerLink="/dashboard/atencion/{{row._id}}">
    </tr>
</table>

<mat-paginator #paginatorHist [length]="dataSourceHist?.data.length" [pageIndex]="0" [pageSize]="10"
    [pageSizeOptions]="[10, 50, 100, 250]">
</mat-paginator> -->