<mat-card class="m-2 mat-elevation-z4">
    <mat-card-title>
        Datos Usuario
        <hr style="color: #0056b2;" />
    </mat-card-title>

    <mat-card-content>
        <!-- vista web -->
        <div class="col-12">
            <div class="row separate">
                <mat-label class="col-sm-2 col-xs-12 label mobile-data mobile-label">Nombre</mat-label>
                <mat-label class="col-sm-8 col-xs-12 ">{{userLog.nombre}} {{userLog.apellido}}</mat-label>
            </div>
            <div class="row separate">
                <mat-label class="col-sm-2 col-xs-12 label mobile-data mobile-label">Rut</mat-label>
                <mat-label class="col-sm-8 col-xs-12 ">{{userLog.rut}}</mat-label>
            </div>
            <div class="row separate">
                <mat-label class="col-sm-2 col-xs-12 label mobile-data mobile-label">Correo</mat-label>
                <mat-label class="col-sm-8 col-xs-12 ">{{userLog.correo}}</mat-label>
            </div>
            <div class="row separate">
                <mat-label class="col-sm-2 col-xs-12 label mobile-data mobile-label">Teléfono</mat-label>
                <mat-label class="col-sm-8 col-xs-12 ">{{userLog.telefono}}</mat-label>
            </div>
            <div class="row separate" *ngIf="userLog.rol==2">
                <mat-label class="col-sm-2 col-xs-12 label mobile-data mobile-label">Dirección</mat-label>
                <mat-label class="col-sm-8 col-xs-12">{{userLog.direccion}}</mat-label>
            </div>
            <div class="row separate" *ngIf="userLog.rol==2">
                <mat-label class="col-sm-2 col-xs-12 label mobile-data mobile-label">Fecha Nacimiento</mat-label>
                <mat-label class="col-sm-8 col-xs-12">{{userLog.fechaNacimiento}}</mat-label>
            </div>
            <div class="row separate" *ngIf="userLog.rol==2">
                <mat-label class="col-sm-2 col-xs-12 label mobile-data mobile-label">Edad</mat-label>
                <mat-label class="col-sm-8 col-xs-12">{{userLog.edad}}</mat-label>
            </div>
        </div>

    </mat-card-content>
</mat-card>
<mat-card class="m-2 mat-elevation-z4">
    <mat-card-title>
        Datos Clinicos
        <hr style="color: #0056b2;" />
    </mat-card-title>

    <mat-card-content>
        <!-- vista web -->
        <div class="col-12 web-display">
            <div class="row">
                <mat-label class="col-2 "><strong>Cesfam</strong></mat-label>
            </div>
            <div class="row">
                <mat-label class="col-2 label ">Nombre</mat-label>
                <mat-label class="col-8 ">{{userLog.cesfam.nombre}}</mat-label>
            </div>
            <div class="row">
                <mat-label class="col-2 label ">Dirección</mat-label>
                <mat-label class="col-8 ">{{userLog.cesfam.direccion}}</mat-label>
            </div>
            <div class="row">
                <mat-label class="col-2 label ">Teléfono</mat-label>
                <mat-label class="col-8 ">{{userLog.cesfam.telefono}}</mat-label>
            </div>
            <br>
            <div class="row" *ngIf="userLog.rol==2">
                <mat-label class="col-2 "><strong>Enfermedad Crónica</strong></mat-label>
                <mat-label class="col-8 ">{{userLog.enfermedadCronica.enfermedad}}</mat-label>
            </div>
            <br>
            <div class="row" *ngIf="userLog.rol==2">
                <mat-label class="col-2 "><strong>Médico Cabecera</strong></mat-label>
            </div>
            <div class="row" *ngIf="userLog.rol==2">
                <mat-label class="col-2 label ">Nombre</mat-label>
                <mat-label class="col-8 ">{{userLog.medicoCabecera.nombre}}
                    {{userLog.medicoCabecera.apellido}}</mat-label>
            </div>
            <div class="row" *ngIf="userLog.rol==2">
                <mat-label class="col-2 label ">Teléfono</mat-label>
                <mat-label class="col-8 ">{{userLog.medicoCabecera.telefono}}</mat-label>
            </div>
            <div class="row" *ngIf="userLog.rol==2">
                <mat-label class="col-2 label ">Correo</mat-label>
                <mat-label class="col-8 ">{{userLog.medicoCabecera.correo}}</mat-label>
            </div>
        </div>

        <!-- vista mobil -->
        <div class="col-12 mobile-display">
            <div class="row">
                <mat-label class="col-8"><strong>Cesfam</strong></mat-label>
            </div>
            <div class="row separate">
                <mat-label class="col-8 label mobile-data">Nombre</mat-label>
                <mat-label class="col-12 label">{{userLog.cesfam.nombre}}</mat-label>
            </div>
            <div class="row separate">
                <mat-label class="col-8 label mobile-data">Dirección</mat-label>
                <mat-label class="col-12 label">{{userLog.cesfam.direccion}}</mat-label>
            </div>
            <div class="row separate">
                <mat-label class="col-8 label mobile-data">Teléfono</mat-label>
                <mat-label class="col-12 label">{{userLog.cesfam.telefono}}</mat-label>
            </div>
            <br>
            <div class="row" *ngIf="userLog.rol==2">
                <mat-label class="col-12  "><strong>Enfermedad Crónica</strong></mat-label>
                <mat-label class="col-12 label">{{userLog.enfermedadCronica.enfermedad}}</mat-label>
            </div>
            <br>
            <div class="row" *ngIf="userLog.rol==2">
                <mat-label class="col-8 "><strong>Médico Cabecera</strong></mat-label>
            </div>
            <div class="row" *ngIf="userLog.rol==2" style="margin-bottom: 5px">
                <mat-label class="col-8 label ">Nombre</mat-label>
                <mat-label class="col-12 label">{{userLog.medicoCabecera.nombre}}
                    {{userLog.medicoCabecera.apellido}}</mat-label>
            </div>
            <div class="row" *ngIf="userLog.rol==2" style="margin-bottom: 5px">
                <mat-label class="col-8 label ">Teléfono</mat-label>
                <mat-label class="col-12 label">{{userLog.medicoCabecera.telefono}}</mat-label>
            </div>
            <div class="row" *ngIf="userLog.rol==2" style="margin-bottom: 5px">
                <mat-label class="col-8 label ">Correo</mat-label>
                <mat-label class="col-12 label">{{userLog.medicoCabecera.correo}}</mat-label>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<mat-card class="m-2 mat-elevation-z4">
    <mat-card-title>
    </mat-card-title>

    <mat-card-content align="center">
        <button mat-raised-button color="warn" (click)="signInWithGoogle()">
            <i class="fab fa-google"></i>
            <span style="margin-left: 8px;">Sincronizar con Google Calendar</span>
        </button>
    </mat-card-content>
</mat-card>

<div style="position: fixed; right: 20px; bottom: 20px">
    <button mat-fab color="primary" matTooltip="Editar Perfil" routerLink="/dashboard/editarPerfil">
        <mat-icon>edit</mat-icon>
    </button>
</div>