.full-width-table {
    width: 100%;
  }

.ficha{
  width: calc(100% - 15px);
  
}

.container {
  width: 100%;/* height given for illustration */
  display: flex;
  flex-flow: row wrap;
  position: relative;
}

.item {
  margin: 4px;
  flex: 0 1 calc(50% - 8px); /* <-- adjusting for margin */
}