.rounded {
    border-radius: 50%;
}

.noticia {
    width: 50%;
    height: 50%;
}

.spinner {
    position: absolute;
    left: 50%;
    top: 50%
}

@media(max-width: 600px) {
    .noticia {
        width: 100%;
        height: 100%;
    }
}