<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

    <mat-card *ngFor="let notificacion of notificaciones" class="m-2 mat-elevation-z4 mx-auto item"
        routerLink="/dashboard/atencion/{{notificacion.atencion}}">
        <mat-card-title>{{notificacion.titulo}}</mat-card-title>
        <mat-card-subtitle><i>{{notificacion.fecha_creacion}} {{notificacion.hora_creacion}}</i></mat-card-subtitle>
        <mat-card-content>
            {{notificacion.texto}}
        </mat-card-content>
        <mat-card-actions align="center">
            <!-- <button color="primary" matTooltip="Ver Ficha" mat-raised-button
                routerLink="/dashboard/">
                <mat-icon>assignment</mat-icon>
                <span style="margin-left:8px;">Ficha</span>
            </button> -->
        </mat-card-actions>
    </mat-card>

    <mat-card *ngIf="notificaciones.length==0" class="m-2 mat-elevation-z4 mx-auto item">
        <mat-card-content>
            No hay notificaciones para mostrar
        </mat-card-content>

    </mat-card>

</div>