<mat-accordion class="m-2 mat-elevation-z4">
    <mat-expansion-panel [expanded]="true" (opened)="panelOpenState = false" (closed)="panelOpenState = true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h3>Próxima Atención</h3>

            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card *ngIf="atencionActiva == null" class="m-2 mat-elevation-z4">
            <mat-card-content>
                No se registra atención próxima
            </mat-card-content>
        </mat-card>
        <mat-card *ngIf="atencionActiva != null" class="m-2 mat-elevation-z4">
            <mat-card-header>
                <mat-card-title>
                    {{atencionActiva.paciente.nombre}} {{atencionActiva.paciente.apellido}}
                </mat-card-title>
                <mat-card-subtitle>
                    {{atencionActiva.paciente.rut}}
                </mat-card-subtitle>

            </mat-card-header>
            <mat-card-content>

                <div fxLayout="row" fxLayoutAlign="center">
                    <div class="col-1">
                        <strong>Fecha:</strong>
                    </div>
                    <div class="col-4">
                        {{atencionActiva.fecha}}
                    </div>
                    <div class="col-1">
                        <strong>Doctor:</strong>
                    </div>
                    <div class="col-4">
                        {{atencionActiva.doctor.nombre}} {{atencionActiva.doctor.apellido}}
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center">
                    <div class="col-1">
                        <strong>Hora:</strong>
                    </div>
                    <div class="col-4">
                        {{atencionActiva.hora}}
                    </div>
                    <div class="col-1">
                        <strong>Estado:</strong>
                    </div>
                    <div class="col-4">
                        <span *ngIf="atencionActiva.estado==0" style="color: #0fb200;">Agendada</span>
                        <span *ngIf="atencionActiva.estado==1" style="color: #0fb200;">En Transcurso</span>
                        <span *ngIf="atencionActiva.estado==2" style="color: #002ab2;">Finalizada</span>
                        <span *ngIf="atencionActiva.estado==3" style="color: #f83232;">Cancelada</span>
                        <span *ngIf="atencionActiva.estado==4" style="color: #ebde29;">Reagendada</span>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <hr />
                <button class="col-12" mat-button color="primary" matTooltip="Ver Detalle"
                    routerLink="/dashboard/atencion/{{atencionActiva._id}}">
                    Ver Detalle
                </button>
            </mat-card-actions>
        </mat-card>


    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h3>Historial Atenciones</h3>
            </mat-panel-title>

        </mat-expansion-panel-header>
        <table mat-table class="full-width-table" matSort aria-label="Elements">
            <!-- Rut Column -->
            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
                <td mat-cell *matCellDef="let row"><strong>{{row.fecha}}</strong></td>
            </ng-container>

            <!-- Nombre Column -->
            <ng-container matColumnDef="hora">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Hora</th>
                <td mat-cell *matCellDef="let row">{{row.hora}}</td>
            </ng-container>

            <!-- Cesfam Column -->
            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>

                <td mat-cell *matCellDef="let row">
                    <span *ngIf="row.estado==0" style="color: #0fb200;">Agendada</span>
                    <span *ngIf="row.estado==1" style="color: #0fb200;">En Transcurso</span>
                    <span *ngIf="row.estado==2" style="color: #002ab2;">Finalizada</span>
                    <span *ngIf="row.estado==3" style="color: #f83232;">Cancelada</span>
                    <span *ngIf="row.estado==4" style="color: #ebde29;">Reagendada</span>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" routerLink="/dashboard/atencion/{{row._id}}">
            </tr>
        </table>

        <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="50"
            [pageSizeOptions]="[1, 50, 100, 250]">
        </mat-paginator>
    </mat-expansion-panel>
</mat-accordion>

<div style="position: fixed; right: 20px; bottom: 20px">
    <button mat-fab color="primary" matTooltip="Agendar Atención" routerLink="/dashboard/agendar">
        <mat-icon>add</mat-icon>
    </button>
</div>