.ficha{
    width: calc(100% - 15px);
}
 
.full-width-table {
    width: 100%;
}

.mobile-display {
  display: none;
}

.mobile-label {
    display: none;
  }
  
@media(max-width: 600px) {
  .web-display{
    display: none;
  }  

  .mobile-display {
    display: inline;
  }
  
  .mobile-label {
      width: 80px;
      display: inline-block;
      font-weight: bold;
    }
  
  .mobile-data {
      font-weight: bold;
  }
  
  .mat-header-row {
      display: none;
    }

  .separate {
      margin-bottom: 8px;
    }
  
  .mat-row { 
      flex-direction: column;
      align-items: flex-start;
      min-height: min-content;
    }

  .mat-cell {
        min-height: min-content;
        align-items: center;
    }

  .mat-cell:first-of-type {
        padding-left: 0px;
    }
}