.container {
    width: 100%;/* height given for illustration */
    display: flex;
    flex-flow: row wrap;
    position: relative;
}

.label {
  align-self: center;
  margin-left: 20px;
}
  
.item {
    margin: 4px;
    flex: 0 1 calc(45% - 8px); /* <-- adjusting for margin */
}

.ficha{
    width: calc(100% - 15px);
}
 
.full-width-table {
    width: 100%;
}

.mobile-label {
    display: none;
  }
  
@media(max-width: 600px) {
    .mobile-label {
      width: 80px;
      display: inline-block;
      font-weight: bold;
    }
    
    .mobile-data {
      font-weight: bold;
    }

    .mobile-subdata{
      font-weight: bold;
      font-style: italic;
    }

    .separate {
      margin-bottom: 8px;
    }

    .label {
      align-self: center;
      margin-left: 0px;
    }

    .tabulation {
      margin-left: 6px;
    }

    .mat-header-row {
      display: none;
    }
  
    .mat-row { 
      flex-direction: column;
      align-items: start;
      // padding: 8px 24px;
      min-height: min-content;
    }

    .mat-cell {
        min-height: min-content;
        align-items: center;
    }

    .mat-cell:first-of-type {
        padding-left: 0px;
    }

    .mat-form-field {
      margin: 0 auto;
  }
}